workflow/rag-basics/aiagent-qdrant.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-qa-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4a340f6-3e3f-488c-a247-3fcfa7a8bd51",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        208,
        640
      ],
      "webhookId": "yru-qa-agent-webhook"
    },
    {
      "parameters": {
        "jsCode": "// === Parse input + validate ===\nconst input = $input.item.json;\nconst body = input.body || input;\n\nconst question = (body.question || '').toString().trim();\nif (!question) {\n  throw new Error('ต้องส่ง field \"question\" ใน JSON body');\n}\n\nconst sessionId = (body.session_id || body.sessionId || 'default').toString();\nconst topK = parseInt(body.top_k) || 5;\n\nconsole.log(`❓ Q: ${question}`);\nconsole.log(`🔑 session: ${sessionId}`);\n\nreturn {\n  json: {\n    question,\n    session_id: sessionId,\n    top_k: topK,\n    asked_at: new Date().toISOString()\n  }\n};"
      },
      "id": "dd688930-1bea-458a-989e-99a77dbd011a",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        640
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "=คุณคือผู้ช่วย AI ด้านคลังความรู้ทุเรียน มีหน้าที่ตอบคำถามจากเอกสารและฐานความรู้เกี่ยวกับทุเรียนเท่านั้น\n\n## เครื่องมือ\n\n* **sojvp**: ค้นหาเอกสารทุเรียน เช่น งานวิจัย คู่มือการปลูก รายงานการผลิต ข้อมูลสถิติ มาตรฐานคุณภาพ โรคและแมลง การตลาด และเอกสารวิชาการที่เกี่ยวข้อง\n\n## หลักการ\n\n1. **ค้นทุกครั้งก่อนตอบ** — ใช้ search_durian_knowledge_base ทุกครั้งเมื่อผู้ใช้ถามข้อมูลเกี่ยวกับทุเรียน\n2. **คำถามทั่วไปก็ต้องค้น** — เช่น \"มีข้อมูลอะไรเกี่ยวกับทุเรียนบ้าง\" → ค้น \"ทุเรียน เอกสาร งานวิจัย คู่มือ\" แล้วสรุปผลที่พบ\n3. **เลือก keyword ที่เหมาะสม** — สกัดคำสำคัญจากคำถาม เช่น\n\n   * \"หมอนทองปลูกอย่างไร\" → \"ทุเรียนหมอนทอง การปลูก\"\n   * \"โรครากเน่าโคนเน่า\" → \"ทุเรียน โรครากเน่าโคนเน่า\"\n   * \"ส่งออกทุเรียนปี 2568\" → \"ทุเรียน ส่งออก 2568\"\n   * \"ทุเรียนพันธุ์ชะนี\" → \"ทุเรียน ชะนี\"\n4. **ค้นซ้ำได้** — หากข้อมูลไม่เพียงพอ สามารถค้นใหม่ด้วย keyword อื่นได้ไม่เกิน 3 ครั้ง\n5. **ตอบจากเอกสารที่ค้นพบเท่านั้น** — ห้ามใช้ความรู้ภายนอกฐานข้อมูล\n6. **อ้างอิงแหล่งที่มาเสมอ** — ระบุชื่อเอกสาร ประเภทเอกสาร และข้อมูลกำกับที่มีอยู่ในผลค้นหา\n\n## รูปแบบคำตอบ\n\n📌 **คำตอบ:**\n(สรุปข้อมูลจากเอกสารที่ค้นพบ พร้อมอ้างอิง [แหล่งที่ X])\n\n📚 **แหล่งอ้างอิง:**\n\n* [1] ชื่อเอกสาร (ประเภทเอกสาร)\n* [2] ชื่อเอกสาร (ประเภทเอกสาร)\n\n## เมื่อไม่พบข้อมูล\n\nหากไม่พบข้อมูลที่เกี่ยวข้องในฐานความรู้ ให้ตอบว่า:\n\n\"ไม่พบข้อมูลที่เกี่ยวข้องในฐานความรู้ทุเรียน\"\n\nและแสดง keyword ที่ใช้ค้นหา\n\n## ข้อห้าม\n\n* ห้ามตอบจากความรู้ภายนอกเอกสาร\n* ห้ามเดาตัวเลข วันที่ ชื่อพันธุ์ หรือข้อมูลใด ๆ\n* ห้ามอ้างอิงเอกสารที่ไม่ได้ค้นพบ\n* ห้ามตอบโดยไม่ค้นก่อน (ยกเว้นคำทักทายทั่วไป)\n",
          "maxIterations": 5,
          "returnIntermediateSteps": true
        }
      },
      "id": "254d8ab2-0f36-453a-bb83-d71422a1cdc6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        656,
        640
      ]
    },
    {
      "parameters": {
        "model": "scb10x/llama3.1-typhoon2-8b-instruct:latest",
        "options": {
          "temperature": 0.2,
          "keepAlive": "10m",
          "numCtx": 8192
        }
      },
      "id": "9ad68006-19de-4710-8194-5cc2b438f542",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        512,
        896
      ],
      "credentials": {
        "ollamaApi": {
          "id": "1QY5ciSrRvuaPboe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "id": "36f2b060-f518-43d3-a185-43fa0d9618ea",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        896
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "sojvp",
        "toolDescription": "=ค้นข้อมูลจากฐานเอกสารและคลังความรู้ เมื่อผู้ใช้สอบถามข้อมูลที่อาจเกี่ยวข้องกับเอกสาร เช่น หลักสูตร แผนยุทธศาสตร์ แผนปฏิบัติการ รายงาน SAR รายงาน EdPEx ระเบียบ ประกาศ นโยบาย รายงานการประชุม คู่มือ งานวิจัย สถิติ ข้อมูลวิชาการ หรือข้อมูลอื่นที่ควรอ้างอิงจากเอกสาร\n\nInput:\n\n* คำค้น (keyword) ภาษาไทย 1-5 คำ\n* สกัดคำสำคัญจากคำถามของผู้ใช้ให้กระชับและตรงประเด็น\n* หากผลลัพธ์ไม่เพียงพอ สามารถปรับคำค้นและค้นซ้ำได้\n\nOutput:\n\n* ชิ้นข้อความ (chunks) ที่เกี่ยวข้องมากที่สุด\n* Metadata ของเอกสารแต่ละรายการ ได้แก่\n\n  * ชื่อเอกสาร\n  * ประเภทเอกสาร\n  * หมวดหมู่หรือหน่วยงาน (ถ้ามี)\n  * ปีการศึกษา ปีงบประมาณ หรือปีที่เผยแพร่ (ถ้ามี)\n  * รหัสเอกสารหรือข้อมูลอ้างอิงอื่น (ถ้ามี)\n\nข้อกำหนด:\n\n* ใช้เครื่องมือนี้ก่อนตอบทุกครั้งสำหรับคำถามที่อาจต้องอ้างอิงเอกสาร\n* สามารถค้นซ้ำได้สูงสุด 3 ครั้งโดยใช้คำค้นที่แตกต่างกัน\n* ตอบโดยอ้างอิงเฉพาะข้อมูลที่พบจากผลการค้นหา\n* หากไม่พบข้อมูล ให้แจ้งว่า \"ไม่พบข้อมูลที่เกี่ยวข้องในฐานเอกสาร\" พร้อมระบุคำค้นที่ใช้ค้นหา\n* ห้ามคาดเดา สรุปเกินข้อมูลที่พบ หรือสร้างข้อมูลที่ไม่มีอยู่ในเอกสาร\n* ห้ามอ้างอิงชื่อองค์กร หน่วยงาน หรือสถาบันใด ๆ เว้นแต่ปรากฏอยู่ในผลการค้นหาโดยตรง\n",
        "qdrantCollection": {
          "__rl": true,
          "value": "sojvp",
          "mode": "list",
          "cachedResultName": "sojvp"
        },
        "topK": 5,
        "options": {}
      },
      "id": "b806d323-2161-465b-81a0-1938a0324362",
      "name": "Qdrant Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        880,
        896
      ],
      "credentials": {
        "qdrantApi": {
          "id": "PbdMB539b6hiQ9ap",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "id": "c21dfabf-0171-483b-a18f-98c59f9667f5",
      "name": "Embeddings bge-m3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        784,
        1088
      ],
      "credentials": {
        "ollamaApi": {
          "id": "1QY5ciSrRvuaPboe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Format response สำหรับ webhook ===\nconst result = $input.item.json;\nconst parsed = $('Parse Input').item.json;\n\nconst answer = (result.output || result.text || '').toString();\nconst intermediateSteps = result.intermediateSteps || [];\n\n// สกัด tool calls (ค้นด้วย keyword อะไรบ้าง)\nconst toolCalls = intermediateSteps.map(step => {\n  const action = step.action || {};\n  return {\n    tool: action.tool || '',\n    query: action.toolInput?.input || action.toolInput || '',\n    observation_length: (step.observation || '').length\n  };\n});\n\nconsole.log(`✅ Answer length: ${answer.length}, tool calls: ${toolCalls.length}`);\n\nreturn {\n  json: {\n    status: 'success',\n    question: parsed.question,\n    session_id: parsed.session_id,\n    answer,\n    tool_calls: toolCalls,\n    num_searches: toolCalls.length,\n    asked_at: parsed.asked_at,\n    responded_at: new Date().toISOString()\n  }\n};"
      },
      "id": "bdae0d0e-3bad-4d7b-920b-a4bd1b7a3672",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "83fb14f5-d00c-4c16-bb4b-62e714bc4455",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1184,
        640
      ]
    },
    {
      "parameters": {
        "content": "##  AI Agent (Webhook)\n**AI Agent + Webhook + Qdrant tool**\n\n**Endpoint:** POST /webhook/n8n-qa-agent\n\n**Body:**\n```json\n{\n  \"question\": \"ทุเรียน?\",\n  \"session_id\": \"user-001\",\n  \"top_k\": 5\n}\n```\n- `question` (required) คำถาม\n- `session_id` (optional) ID สำหรับจำ context ระหว่างคำถาม\n- `top_k` (optional) จำนวน chunk ที่ tool คืน (default 5)\n\n**LLM:** qwen2.5:7b รองรับ tool calling\n```bash\ndocker exec ollama ollama pull qwen2.5:7b-instruct\n```",
        "height": 460,
        "width": 520
      },
      "id": "db728190-d56f-4755-ad91-978f293f5b44",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        128
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings bge-m3": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84365cb96a37d13f47ef6bf9b21a123dffc27616cf6818a224105a14e8057f77"
  }
}