workflow/rag-basics/upload-url-file.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-n8n-docs",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data",
          "rawBody": false
        }
      },
      "id": "dfd79579-a9ef-4658-8ad7-277814179261",
      "name": "Webhook (รับไฟล์/URL)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1248,
        -112
      ],
      "webhookId": "c79f4d73-00a3-46f3-85d7-d30876ebd07d"
    },
    {
      "parameters": {
        "jsCode": "// === ตรวจสอบ input mode + เตรียมข้อมูล + detect file type ===\nconst item = $input.item;\nconst body = (item.json && item.json.body) ? item.json.body : (item.json || {});\n\nlet binaryKey = null;\nif (item.binary && Object.keys(item.binary).length > 0) {\n  binaryKey = Object.keys(item.binary)[0];\n}\n\nlet mode, url, originalFileName;\n\nif (binaryKey) {\n  mode = 'file';\n  url = null;\n  originalFileName = item.binary[binaryKey].fileName || 'upload.pdf';\n} else if (body.url) {\n  mode = 'url';\n  url = body.url;\n  originalFileName = body.filename || url.split('/').pop().split('?')[0] || 'from_url';\n} else {\n  throw new Error('ต้องส่งไฟล์ (multipart/form-data) หรือ URL ใน JSON body { \"url\": \"https://...\" }');\n}\n\n// === Detect file extension + category ===\nconst lastDot = originalFileName.lastIndexOf('.');\nlet ext = lastDot > 0 ? originalFileName.substring(lastDot + 1).toLowerCase() : '';\n\n// ถ้าไม่มี extension จาก filename → guess จาก URL pattern\nif (!ext && url) {\n  if (url.match(/\\.(pdf|docx?|pptx?|xlsx?|html?|txt|md|jpg|jpeg|png|tif|tiff|bmp|webp)(\\?|$)/i)) {\n    ext = url.match(/\\.([a-z0-9]+)(\\?|$)/i)[1].toLowerCase();\n  }\n}\n\n// แบ่ง category\nconst IMAGE_EXT = ['jpg', 'jpeg', 'png', 'tif', 'tiff', 'bmp', 'webp', 'ppm', 'pnm'];\nconst OFFICE_EXT = ['docx', 'doc', 'pptx', 'ppt', 'xlsx', 'xls'];\nconst WEB_EXT = ['html', 'htm', 'xhtml'];\nconst TEXT_EXT = ['txt', 'md', 'markdown', 'csv'];\n\nlet category;\nif (ext === 'pdf') category = 'pdf';\nelse if (IMAGE_EXT.includes(ext)) category = 'image';\nelse if (OFFICE_EXT.includes(ext)) category = 'office';\nelse if (WEB_EXT.includes(ext)) category = 'web';\nelse if (TEXT_EXT.includes(ext)) category = 'text';\nelse category = 'unknown';\n\nconst ocrAble = (category === 'pdf' || category === 'image');\n\n// === Sanitize filename ===\nconst isAsciiOnly = /^[\\x00-\\x7F]*$/.test(originalFileName);\nconst hasSpecialChars = /[\\s'\"\\\\\\/&?#%]/.test(originalFileName);\nconst needRename = !isAsciiOnly || hasSpecialChars || !ext;\n\nlet safeFileName;\nif (needRename) {\n  const timestamp = Date.now();\n  const random = Math.random().toString(36).substring(2, 10);\n  const safeExt = ext || 'pdf';\n  safeFileName = `doc_${timestamp}_${random}.${safeExt}`;\n} else {\n  safeFileName = originalFileName;\n}\n\nconsole.log(`📥 Input: mode=${mode}, ext=${ext}, category=${category}, ocr-able=${ocrAble}`);\nconsole.log(`   original=${originalFileName}, safe=${safeFileName}`);\n\nconst output = {\n  json: {\n    mode, url,\n    original_filename: originalFileName,\n    safe_filename: safeFileName,\n    file_extension: ext,\n    file_category: category,\n    ocr_able: ocrAble,\n    was_renamed: needRename,\n    uploaded_at: new Date().toISOString()\n  }\n};\n\nif (binaryKey) {\n  const srcBinary = item.binary[binaryKey];\n  srcBinary.fileName = safeFileName;\n  output.binary = { data0: srcBinary };\n}\n\nreturn output;"
      },
      "id": "ad24e232-93ce-4b88-9729-64afb856c011",
      "name": "ตรวจสอบ Input Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.mode }}",
              "rightValue": "url",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "is-url-mode"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8a6259f-e824-4038-8e2f-eda96bf1e064",
      "name": "IF: URL mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -800,
        -112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "0fd04a40-edc5-407b-96bb-0124ef399385",
      "name": "ดาวน์โหลด URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -576,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Normalize binary หลัง URL download + redetect file type จาก mime ===\nconst item = $input.item;\nconst sourceKey = Object.keys(item.binary || {})[0];\nif (!sourceKey) throw new Error('ไม่พบ binary หลัง download URL');\n\nconst meta = $('ตรวจสอบ Input Mode').item.json;\nconst srcBinary = item.binary[sourceKey];\n\n// === Redetect category จาก mime type (สำคัญ! URL อาจไม่บอก extension จริง) ===\nconst mime = (srcBinary.mimeType || '').toLowerCase();\nlet redetectedCategory = meta.file_category;\nlet redetectedExt = meta.file_extension;\n\nif (mime.includes('pdf')) { redetectedCategory = 'pdf'; redetectedExt = 'pdf'; }\nelse if (mime.startsWith('image/')) {\n  redetectedCategory = 'image';\n  redetectedExt = mime.split('/')[1].split(';')[0];\n  if (redetectedExt === 'jpeg') redetectedExt = 'jpg';\n}\nelse if (mime.includes('html')) { redetectedCategory = 'web'; redetectedExt = 'html'; }\nelse if (mime.includes('wordprocessingml') || mime.includes('msword')) { redetectedCategory = 'office'; redetectedExt = 'docx'; }\nelse if (mime.includes('presentationml')) { redetectedCategory = 'office'; redetectedExt = 'pptx'; }\nelse if (mime.includes('spreadsheetml') || mime.includes('ms-excel')) { redetectedCategory = 'office'; redetectedExt = 'xlsx'; }\nelse if (mime.includes('text/plain') || mime.includes('text/markdown')) { redetectedCategory = 'text'; redetectedExt = mime.includes('markdown') ? 'md' : 'txt'; }\n\n// ถ้า extension เดิม unknown แต่ตรวจเจอจาก mime → ใช้ใหม่\nif (meta.file_category === 'unknown' && redetectedCategory !== 'unknown') {\n  console.log(`🔍 Redetected from mime: ${meta.file_extension} → ${redetectedExt} (${redetectedCategory})`);\n  meta.file_extension = redetectedExt;\n  meta.file_category = redetectedCategory;\n  meta.ocr_able = (redetectedCategory === 'pdf' || redetectedCategory === 'image');\n  // อัพเดท safe_filename ให้มี extension ใหม่\n  const base = meta.safe_filename.replace(/\\.[^.]+$/, '');\n  meta.safe_filename = `${base}.${redetectedExt}`;\n}\n\nsrcBinary.fileName = meta.safe_filename;\n\nconsole.log(`📦 URL binary: key=${sourceKey}, size=${srcBinary.fileSize}, mime=${mime}, category=${meta.file_category}`);\n\nreturn {\n  json: meta,\n  binary: { data0: srcBinary }\n};"
      },
      "id": "4c9aea0e-4bff-4256-816a-d0286f7b7cbf",
      "name": "Normalize Binary (URL)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.20.41.229:5001/v1/convert/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data0"
            },
            {
              "name": "to_formats",
              "value": "md"
            },
            {
              "name": "image_export_mode",
              "value": "placeholder"
            },
            {
              "name": "do_ocr",
              "value": "false"
            },
            {
              "name": "pipeline",
              "value": "standard"
            },
            {
              "name": "table_mode",
              "value": "accurate"
            },
            {
              "name": "abort_on_error",
              "value": "false"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "id": "e6aa4d43-c920-4954-b947-dcdb34648454",
      "name": "Docling Attempt 1 (no OCR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -128,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{ ($json.document?.md_content || $json.document?.text_content || '').replace(/([\\u0E00-\\u0E7F])\\s+(?=[\\u0E00-\\u0E7F])/g, '$1') }}",
              "type": "string"
            },
            {
              "id": "len",
              "name": "text_length",
              "value": "={{ ($json.document?.md_content || $json.document?.text_content || '').length }}",
              "type": "number"
            },
            {
              "id": "status",
              "name": "doc_status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "original",
              "name": "original_filename",
              "value": "={{ $('ตรวจสอบ Input Mode').item.json.original_filename }}",
              "type": "string"
            },
            {
              "id": "safe",
              "name": "safe_filename",
              "value": "={{ $('ตรวจสอบ Input Mode').item.json.safe_filename }}",
              "type": "string"
            },
            {
              "id": "cat",
              "name": "file_category",
              "value": "={{ $('ตรวจสอบ Input Mode').item.json.file_category }}",
              "type": "string"
            },
            {
              "id": "ocr",
              "name": "ocr_able",
              "value": "={{ $('ตรวจสอบ Input Mode').item.json.ocr_able }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "256d0475-cd1e-4f73-a882-10d160e7e9a8",
      "name": "Normalize Text 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.text_length }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "text-good-enough"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b32adaf-655e-4803-beea-7ebf95cbeefa",
      "name": "IF: text มีคุณภาพ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        320,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ocr_able }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "is-ocr-able"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b972b776-f2d7-41f8-8513-f64eae77a359",
      "name": "IF: ไฟล์ OCR ได้?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// === ดึง binary จาก path ก่อนหน้า เพื่อส่งต่อให้ OCRmyPDF ===\nconst urlMode = $('ตรวจสอบ Input Mode').item.json.mode === 'url';\n\nlet sourceItem;\nif (urlMode) {\n  sourceItem = $('Normalize Binary (URL)').item;\n} else {\n  sourceItem = $('ตรวจสอบ Input Mode').item;\n}\n\nif (!sourceItem.binary || !sourceItem.binary.data0) {\n  throw new Error('ไม่พบ binary data0 จากต้นทาง');\n}\n\nconst meta = $('ตรวจสอบ Input Mode').item.json;\nconst srcBinary = sourceItem.binary.data0;\nconsole.log(`⚠️  text สั้น (${$input.item.json.text_length} chars), ${meta.file_category} → ส่งไป OCR | size=${srcBinary.fileSize}`);\n\nreturn {\n  json: meta,\n  binary: { data0: srcBinary }\n};"
      },
      "id": "2977566d-150a-4523-884b-a899a9a5903b",
      "name": "เตรียม Binary ไป OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.20.41.229:5002/ocr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            },
            {
              "name": "lang",
              "value": "tha+eng"
            },
            {
              "name": "force",
              "value": "true"
            },
            {
              "name": "optimize",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocred"
            }
          },
          "timeout": 1800000
        }
      },
      "id": "1329c7fd-01d9-4c8d-b3fb-4a6d609cfd2e",
      "name": "OCRmyPDF (Thai)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        992,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// === ใช้ binary จาก OCRmyPDF ตรง ๆ ===\nconst item = $input.item;\nconst keys = Object.keys(item.binary || {});\nif (keys.length === 0) throw new Error('ไม่พบ binary หลัง OCRmyPDF');\n\nlet sourceKey = keys[0];\nlet maxSize = item.binary[sourceKey].fileSize || 0;\nfor (const k of keys) {\n  const size = item.binary[k].fileSize || 0;\n  if (size > maxSize) {\n    sourceKey = k;\n    maxSize = size;\n  }\n}\n\nconst ocrBinary = item.binary[sourceKey];\nconsole.log(`📦 OCR binary: key=${sourceKey}, size=${ocrBinary.fileSize}, name=${ocrBinary.fileName}`);\n\nreturn {\n  json: $('ตรวจสอบ Input Mode').item.json,\n  binary: { data0: ocrBinary }\n};"
      },
      "id": "9eb44248-e162-4fdd-9377-fdf35eada455",
      "name": "Normalize Binary (OCR)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.20.41.229:5001/v1/convert/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data0"
            },
            {
              "name": "to_formats",
              "value": "md"
            },
            {
              "name": "image_export_mode",
              "value": "placeholder"
            },
            {
              "name": "do_ocr",
              "value": "false"
            },
            {
              "name": "pipeline",
              "value": "standard"
            },
            {
              "name": "table_mode",
              "value": "accurate"
            },
            {
              "name": "abort_on_error",
              "value": "false"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 600000
        }
      },
      "id": "8d3bb143-a14b-45b8-994c-372b88fa5909",
      "name": "Docling Attempt 2 (after OCR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1440,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "value": "={{ ($json.document?.md_content || $json.document?.text_content || '').replace(/([\\u0E00-\\u0E7F])\\s+(?=[\\u0E00-\\u0E7F])/g, '$1') }}",
              "type": "string"
            },
            {
              "id": "len",
              "name": "text_length",
              "value": "={{ ($json.document?.md_content || $json.document?.text_content || '').length }}",
              "type": "number"
            },
            {
              "id": "status",
              "name": "doc_status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "original",
              "name": "original_filename",
              "value": "={{ $('ตรวจสอบ Input Mode').item.json.original_filename }}",
              "type": "string"
            },
            {
              "id": "safe",
              "name": "safe_filename",
              "value": "={{ $('ตรวจสอบ Input Mode').item.json.safe_filename }}",
              "type": "string"
            },
            {
              "id": "cat",
              "name": "file_category",
              "value": "={{ $('ตรวจสอบ Input Mode').item.json.file_category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "90652b95-4208-4434-9c1f-f40ae90f6ce0",
      "name": "Normalize Text 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "final-text-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bdd022b7-ee78-41af-80b2-ffbae81c4e93",
      "name": "มีข้อความไหม? (final)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1888,
        -48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7cb4d226-129a-46ff-b5cd-3fb228c1dc39",
      "name": "Loop Over Chunks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2592,
        -112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณคือผู้เชี่ยวชาญด้านการจัดทำดัชนีเอกสารทุเรียน งานของคุณคือสร้างบริบทสั้นๆ ที่ช่วยให้ระบบค้นคืนข้อมูล (RAG) ทำงานได้แม่นยำขึ้น\n\n=== บริบทของเอกสารทั้งฉบับ ===\nชื่อเอกสาร: {{ $json.original_filename }}\nประเภท: {{ $json.doc_meta.doc_type }}\nหัวข้อ: {{ $json.doc_meta.topic }}\n\nสรุปเอกสารโดยรวม:\n{{ $json.doc_summary_for_context }}\n\n=== ชิ้นข้อความ (chunk) ที่ {{ $json.chunk_index }}/{{ $json.chunk_total }} ===\n{{ $json.chunk_text }}\n\n=== คำสั่ง ===\nจงเขียนบริบทสั้นๆ 2-3 ประโยค เพื่ออธิบายว่า:\n\n1. ชิ้นข้อความนี้กล่าวถึงประเด็นหรือสาระสำคัญใดเกี่ยวกับทุเรียน\n2. ชิ้นข้อความนี้น่าจะอยู่ในส่วนใดของเอกสาร (เช่น บทนำ วิธีการศึกษา ผลการวิเคราะห์ ข้อเสนอแนะ ภาคผนวก)\n3. ชิ้นข้อความนี้เกี่ยวข้องกับด้านใด เช่น พันธุ์ทุเรียน การเพาะปลูก การจัดการสวน การผลิต การตลาด คุณภาพผลผลิต โรคและแมลง งานวิจัย หรือข้อมูลสถิติ\n\nเน้นคำสำคัญ ชื่อพันธุ์ทุเรียน ชื่อพื้นที่ ชื่อโครงการ ชื่อหน่วยงาน ตัวเลขสำคัญ และคำศัพท์เฉพาะที่ปรากฏใน chunk เพื่อเพิ่มประสิทธิภาพการค้นหา\n\nตอบเฉพาะข้อความบริบทภาษาไทย 2-3 ประโยค ห้ามใส่คำนำ ห้ามใส่คำลงท้าย ห้ามกล่าวถึงองค์กร หน่วยงาน หรือข้อมูลใด ๆ ที่ไม่ได้ปรากฏใน chunk และห้ามคาดเดาข้อมูลนอกเหนือจากเนื้อหาที่ได้รับ"
      },
      "id": "815cb961-3345-4855-a8f7-8e5619428665",
      "name": "AI: Contextual Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2784,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// === รวม chunk + context + metadata ===\nconst contextSummary = ($input.item.json.text || $input.item.json.output || '').trim();\nconst chunkData = $('Loop Over Chunks').item.json;\nconst chunk = chunkData.chunk_text;\nconst chunkIdx = chunkData.chunk_index;\nconst chunkTotal = chunkData.chunk_total;\nconst docMeta = chunkData.doc_meta || {};\n\nconsole.log(`🔗 chunk #${chunkIdx}/${chunkTotal - 1} (${chunk.length} chars + ctx ${contextSummary.length})`);\n\nconst enrichedText = contextSummary\n  ? `[บริบท]\\n${contextSummary}\\n\\n[เนื้อหา]\\n${chunk}`\n  : chunk;\n\nreturn {\n  json: {\n    text: enrichedText,\n    filename: chunkData.original_filename,\n    safe_filename: chunkData.safe_filename,\n    file_category: chunkData.file_category || 'unknown',\n    doc_type: docMeta.doc_type || 'อื่นๆ',\n    department: docMeta.department || 'ไม่ระบุ',\n    faculty: docMeta.faculty || 'ไม่ระบุ',\n    topic: docMeta.topic || '',\n    doc_summary: docMeta.doc_summary || '',\n    academic_year: docMeta.academic_year || 'ไม่ระบุ',\n    budget_year: docMeta.budget_year || 'ไม่ระบุ',\n    target_audience: docMeta.target_audience || 'ไม่ระบุ',\n    language: docMeta.language || 'ไทย',\n    keywords: Array.isArray(docMeta.keywords) ? docMeta.keywords : [],\n    keywords_string: Array.isArray(docMeta.keywords) ? docMeta.keywords.join(',') : '',\n    chunk_index: chunkIdx,\n    chunk_total: chunkTotal,\n    chunk_text: chunk,\n    chunk_context: contextSummary,\n    chunk_char_count: chunk.length,\n    ingested_at: chunkData.ingested_at\n  }\n};"
      },
      "id": "56aa1cb3-bd4d-42d3-a055-f4f84cf89119",
      "name": "รวม chunk + context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        -256
      ]
    },
    {
      "parameters": {
        "model": "bge-m3:latest"
      },
      "id": "9a13531b-b345-48ce-81b3-44e5faf4d4a8",
      "name": "Embeddings bge-m3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        3232,
        -32
      ],
      "credentials": {
        "ollamaApi": {
          "id": "1QY5ciSrRvuaPboe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG Pipeline v4 — Multi-format\n**Supported formats:**\n- **PDF** (text-based & scan/image-based)\n- **Image** (jpg, png, tif, bmp, webp)\n- **Office** (docx, pptx, xlsx)\n- **Web** (html, xhtml)\n- **Text** (txt, md)\n\n**Strategy:**\n1. Docling Attempt 1 (no OCR) — handles text-native formats\n2. ถ้า text สั้น/ว่าง + ไฟล์ OCR-able (pdf/image) → OCRmyPDF → Docling Attempt 2\n3. ถ้า text สั้น + ไฟล์อื่น → Error",
        "height": 456,
        "width": 480
      },
      "id": "4b0aabb5-5354-4532-8829-8bd44f6e4c95",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1312,
        -656
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณคือผู้เชี่ยวชาญด้านการจัดทำดัชนีเอกสารทุเรียน\n\nจงอ่านเอกสารต่อไปนี้แล้ววิเคราะห์ metadata อย่างละเอียด ตอบเป็น JSON เท่านั้น ห้ามมีข้อความนำหน้าหรือต่อท้าย\n\nเอกสาร:\n{{ $json.text.substring(0, 5000) }}\n\nรูปแบบ JSON ที่ต้องการ:\n{\"doc_type\":\"อื่นๆ\",\"department\":\"องค์กรทุเรียน\",\"faculty\":\"ไม่ระบุ\",\"topic\":\"เอกสารเกี่ยวกับการบริหารจัดการและพัฒนาทุเรียน\",\"doc_summary\":\"ไม่พบเนื้อหาเอกสารจริงสำหรับการวิเคราะห์ metadata โดยมีเพียงข้อความตัวอย่างหรือ placeholder เท่านั้น จึงไม่สามารถสรุปรายละเอียดเชิงเนื้อหาได้อย่างถูกต้อง ข้อมูลที่ระบุในผลลัพธ์นี้เป็นค่าเริ่มต้นสำหรับเอกสารที่เกี่ยวข้องกับทุเรียน ควรส่งเนื้อหาเอกสารฉบับเต็มเพื่อให้สามารถวิเคราะห์และจัดทำดัชนีได้อย่างแม่นยำ\",\"academic_year\":\"ไม่ระบุ\",\"budget_year\":\"ไม่ระบุ\",\"target_audience\":\"ผู้เกี่ยวข้องกับการผลิต วิจัย พัฒนา หรือบริหารจัดการทุเรียน\",\"keywords\":[\"ทุเรียน\",\"องค์กรทุเรียน\",\"การจัดการทุเรียน\",\"พัฒนาทุเรียน\",\"ฐานข้อมูลทุเรียน\"],\"language\":\"ไทย\"}"
      },
      "id": "0ddec215-1b9d-4a8e-9dc2-cf11ef0ef568",
      "name": "AI: Document Metadata1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2112,
        -112
      ]
    },
    {
      "parameters": {
        "model": "scb10x/llama3.1-typhoon2-8b-instruct:latest",
        "options": {
          "temperature": 0.1,
          "format": "json"
        }
      },
      "id": "e917684b-2228-4eb0-801a-256c3f3e51ad",
      "name": "Ollama Chat (Doc Metadata)1",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2112,
        128
      ],
      "credentials": {
        "ollamaApi": {
          "id": "1QY5ciSrRvuaPboe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === แบ่งข้อความเป็น chunk + เตรียม metadata ระดับเอกสาร ===\nlet rawText, originalFilename, safeFilename, fileCategory;\ntry {\n  rawText = $('Normalize Text 2').item.json.text;\n  if (!rawText || rawText.length < 200) throw new Error('use text 1');\n  originalFilename = $('Normalize Text 2').item.json.original_filename;\n  safeFilename = $('Normalize Text 2').item.json.safe_filename;\n  fileCategory = $('Normalize Text 2').item.json.file_category;\n  console.log('📄 ใช้ text จาก path 2 (OCR)');\n} catch (e) {\n  rawText = $('Normalize Text 1').item.json.text;\n  originalFilename = $('Normalize Text 1').item.json.original_filename;\n  safeFilename = $('Normalize Text 1').item.json.safe_filename;\n  fileCategory = $('Normalize Text 1').item.json.file_category;\n  console.log('📄 ใช้ text จาก path 1 (direct)');\n}\n\nlet docMeta = {};\ntry {\n  const llmOut = $input.item.json.text || $input.item.json.output || $input.item.json.response || '{}';\n  docMeta = typeof llmOut === 'string' ? JSON.parse(llmOut) : llmOut;\n} catch (e) {\n  console.log('Parse doc metadata failed:', e.message);\n  docMeta = { doc_type: 'อื่นๆ', department: 'ไม่ระบุ', faculty: 'ไม่ระบุ', keywords: [] };\n}\n\nfunction splitText(text, size = 1200, overlap = 200) {\n  if (!text || text.length <= size) return [text || ''];\n  const separators = ['\\n\\n', '\\n', '. ', ' '];\n  function split(t, sepIdx) {\n    if (t.length <= size) return [t];\n    if (sepIdx >= separators.length) {\n      const out = [];\n      const step = Math.max(1, size - overlap);\n      for (let i = 0; i < t.length; i += step) out.push(t.substring(i, i + size));\n      return out;\n    }\n    const sep = separators[sepIdx];\n    const parts = t.split(sep);\n    const chunks = [];\n    let current = '';\n    for (const p of parts) {\n      const joined = current ? current + sep + p : p;\n      if (joined.length > size && current) { chunks.push(current); current = p; }\n      else current = joined;\n    }\n    if (current) chunks.push(current);\n    const final = [];\n    for (const c of chunks) {\n      if (c.length > size) final.push(...split(c, sepIdx + 1));\n      else final.push(c);\n    }\n    return final;\n  }\n  let chunks = split(text, 0);\n  if (overlap > 0 && chunks.length > 1) {\n    const out = [chunks[0]];\n    for (let i = 1; i < chunks.length; i++) {\n      const prev = chunks[i - 1];\n      const tail = prev.substring(Math.max(0, prev.length - overlap));\n      out.push(tail + chunks[i]);\n    }\n    chunks = out;\n  }\n  return chunks;\n}\n\nconst chunks = splitText(rawText, 1200, 200);\nconst docSummaryForContext = docMeta.doc_summary || rawText.substring(0, 1500);\nconsole.log(`✂️ แบ่งเอกสาร \"${originalFilename}\" (${fileCategory}) → ${chunks.length} chunks (${rawText.length} chars)`);\n\nreturn chunks.map((chunkText, idx) => ({\n  json: {\n    chunk_text: chunkText,\n    chunk_index: idx,\n    chunk_total: chunks.length,\n    doc_summary_for_context: docSummaryForContext,\n    original_filename: originalFilename,\n    safe_filename: safeFilename,\n    file_category: fileCategory,\n    doc_meta: docMeta,\n    ingested_at: new Date().toISOString()\n  }\n}));"
      },
      "id": "fa627d84-4458-4f90-a0d5-1ce56fa08b1e",
      "name": "แบ่ง Chunk + Doc Metadata1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -112
      ]
    },
    {
      "parameters": {
        "model": "scb10x/llama3.1-typhoon2-8b-instruct:latest",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "c1e3910e-9107-48a9-9555-ac4a363184db",
      "name": "Ollama Chat (Context)1",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2784,
        -32
      ],
      "credentials": {
        "ollamaApi": {
          "id": "1QY5ciSrRvuaPboe",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "sojvp",
          "mode": "list",
          "cachedResultName": "sojvp"
        },
        "options": {}
      },
      "id": "164e2855-bf44-41ab-abca-ac6328b7815c",
      "name": "Qdrant Insert1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        3232,
        -256
      ],
      "credentials": {
        "qdrantApi": {
          "id": "PbdMB539b6hiQ9ap",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.filename }}"
              },
              {
                "name": "file_category",
                "value": "={{ $json.file_category }}"
              },
              {
                "name": "doc_type",
                "value": "={{ $json.doc_type }}"
              },
              {
                "name": "department",
                "value": "={{ $json.department }}"
              },
              {
                "name": "faculty",
                "value": "={{ $json.faculty }}"
              },
              {
                "name": "topic",
                "value": "={{ $json.topic }}"
              },
              {
                "name": "academic_year",
                "value": "={{ $json.academic_year }}"
              },
              {
                "name": "budget_year",
                "value": "={{ $json.budget_year }}"
              },
              {
                "name": "target_audience",
                "value": "={{ $json.target_audience }}"
              },
              {
                "name": "language",
                "value": "={{ $json.language }}"
              },
              {
                "name": "keywords",
                "value": "={{ $json.keywords_string }}"
              },
              {
                "name": "chunk_index",
                "value": "={{ $json.chunk_index }}"
              },
              {
                "name": "chunk_total",
                "value": "={{ $json.chunk_total }}"
              },
              {
                "name": "chunk_context",
                "value": "={{ $json.chunk_context }}"
              },
              {
                "name": "doc_summary",
                "value": "={{ $json.doc_summary }}"
              },
              {
                "name": "ingested_at",
                "value": "={{ $json.ingested_at }}"
              }
            ]
          }
        }
      },
      "id": "f6a1f028-dabc-4043-a4d3-6f4a98c965cd",
      "name": "Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3440,
        -32
      ]
    },
    {
      "parameters": {
        "chunkSize": 50000,
        "options": {}
      },
      "id": "200215fb-abe3-4bc4-b27f-b2caa5f95f66",
      "name": "Text Splitter (no-op)1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3424,
        192
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "3a4a0468-f9b9-4734-a1fa-3fac3021425e",
      "name": "รวมผลทุก chunk1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2800,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"mode\": $('ตรวจสอบ Input Mode').item.json.mode, \"filename\": $('แบ่ง Chunk + Doc Metadata1').first().json.original_filename, \"file_category\": $('แบ่ง Chunk + Doc Metadata1').first().json.file_category, \"chunks_total\": $('แบ่ง Chunk + Doc Metadata1').all().length, \"doc_type\": $('แบ่ง Chunk + Doc Metadata1').first().json.doc_meta.doc_type, \"department\": $('แบ่ง Chunk + Doc Metadata1').first().json.doc_meta.department, \"faculty\": $('แบ่ง Chunk + Doc Metadata1').first().json.doc_meta.faculty, \"topic\": $('แบ่ง Chunk + Doc Metadata1').first().json.doc_meta.topic, \"keywords\": $('แบ่ง Chunk + Doc Metadata1').first().json.doc_meta.keywords } }}",
        "options": {}
      },
      "id": "6ff4bad7-8433-4136-8645-35be24d32766",
      "name": "ตอบกลับ Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3040,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"ไม่สามารถสกัดข้อความได้\", \"filename\": $('ตรวจสอบ Input Mode').item.json.original_filename, \"file_category\": $('ตรวจสอบ Input Mode').item.json.file_category, \"reason\": $('ตรวจสอบ Input Mode').item.json.ocr_able ? \"OCR + Docling extract failed\" : \"ไฟล์ประเภท \" + $('ตรวจสอบ Input Mode').item.json.file_category + \" ไม่มีข้อความ และไม่รองรับ OCR\" } }}",
        "options": {}
      },
      "id": "a47b9d76-e9d3-42ba-bf31-86377e67405f",
      "name": "ตอบกลับ Error1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1888,
        336
      ]
    }
  ],
  "connections": {
    "Webhook (รับไฟล์/URL)": {
      "main": [
        [
          {
            "node": "ตรวจสอบ Input Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ตรวจสอบ Input Mode": {
      "main": [
        [
          {
            "node": "IF: URL mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: URL mode?": {
      "main": [
        [
          {
            "node": "ดาวน์โหลด URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Docling Attempt 1 (no OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ดาวน์โหลด URL": {
      "main": [
        [
          {
            "node": "Normalize Binary (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Binary (URL)": {
      "main": [
        [
          {
            "node": "Docling Attempt 1 (no OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling Attempt 1 (no OCR)": {
      "main": [
        [
          {
            "node": "Normalize Text 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text 1": {
      "main": [
        [
          {
            "node": "IF: text มีคุณภาพ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: text มีคุณภาพ?": {
      "main": [
        [
          {
            "node": "AI: Document Metadata1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: ไฟล์ OCR ได้?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ไฟล์ OCR ได้?": {
      "main": [
        [
          {
            "node": "เตรียม Binary ไป OCR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ตอบกลับ Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "เตรียม Binary ไป OCR": {
      "main": [
        [
          {
            "node": "OCRmyPDF (Thai)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCRmyPDF (Thai)": {
      "main": [
        [
          {
            "node": "Normalize Binary (OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Binary (OCR)": {
      "main": [
        [
          {
            "node": "Docling Attempt 2 (after OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling Attempt 2 (after OCR)": {
      "main": [
        [
          {
            "node": "Normalize Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text 2": {
      "main": [
        [
          {
            "node": "มีข้อความไหม? (final)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "มีข้อความไหม? (final)": {
      "main": [
        [
          {
            "node": "AI: Document Metadata1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ตอบกลับ Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Chunks": {
      "main": [
        [
          {
            "node": "รวมผลทุก chunk1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI: Contextual Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Contextual Summary": {
      "main": [
        [
          {
            "node": "รวม chunk + context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "รวม chunk + context": {
      "main": [
        [
          {
            "node": "Qdrant Insert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings bge-m3": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Insert1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI: Document Metadata1": {
      "main": [
        [
          {
            "node": "แบ่ง Chunk + Doc Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat (Doc Metadata)1": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Document Metadata1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "แบ่ง Chunk + Doc Metadata1": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat (Context)1": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Contextual Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Insert1": {
      "main": [
        [
          {
            "node": "Loop Over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Insert1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter (no-op)1": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "รวมผลทุก chunk1": {
      "main": [
        [
          {
            "node": "ตอบกลับ Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84365cb96a37d13f47ef6bf9b21a123dffc27616cf6818a224105a14e8057f77"
  }
}